.ms-auto{
    margin: auto;
}
.body{
    background-color: #f3f1ec;
}
.fa-graduation-cap {
    color:#4270a9 !important;
  }
  .full-container{
    margin-left: 100px;
    margin-right: 100px;
    
   
  }
  .item-container{
    direction: flex;
    width: auto;
    flex-direction: row;
  }
  
  a.nav-link{
    text-decoration: none;
 /* Default color */
 
    transition: color 1s ease, text-decoration 1s ease;
    padding-bottom: 60px;

}

a.nav-link:hover {
    text-decoration: underline;
    border-radius: 10px;
   margin: 5px;
   
   
  

}
/* CSS styles */
.nav-item {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

/* Additional styling for dropdown links */
.dropdown-menu a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #ddd;
}
/* end */


/* events and news css */
.datebox{
  width: 50px;
  height: 50px ;
  background-color: #1e4356;
}
.datebox.date{
  direction: flex;
  
}
.day{
  display: flex;
  align-content: center;
  padding-left: 12px;
}
.month{
  flex-direction: column;
  padding-left: 12px;
  
}
.content-m{
  position: relative;
}
.navbar-expand-lg .navbar-collapse {
  height:90px;
}


.navbar-dark .navbar-nav .nav-link {
  position: relative;
  padding: 9px 15px;
  font-size: 18px;
  text-transform: uppercase;

  outline: none;
  transition: all 0.5s ease 0s;
}

/* end */

.main
        {
            display: flex;
            flex-wrap: wrap;
        }
        .card
        {
            width: 48%;
            min-width: 400px;
            /* border: 1px solid black; */
            margin: auto;
            margin-top: 10px;
        }
        .card-nav
        {
            background-color: rgb(38, 32, 32);
            color: white;
            display: flex;
            padding: 10px;
        }

        .card-nav button
        {
            margin-left: auto;
            padding:5px 10px;
            background: transparent;
            border: 2px solid white;
            color: white;
            border-radius: 5px;
            transition: .3s;
        }
        .card-nav button:hover
        {
            background-color: white;
            color: black;
            cursor: pointer;
        }
        .list-container
        {
            padding:10px;
        }
        .list-container li
        {
            display: flex;
            justify-content:space-around;
            align-items: center;
        }
        .list-container li p{
            width: 70%;
        }
        .date-container
        {
            background-color: black;
            color: white;
            border-radius: 5px;
            padding:2px 3px;
            width:45px;
            margin: 5px 0;
        }
        .date-container p{
            text-align: center;
            margin: auto;
        }


        .search{
          display: flex;
          float: right;
         position: relative;
         left: 750px;
                
        }
        .input{
        text-decoration: none;
        border-radius: 7px;
        width: 220px;

        }
        
        .input-btn{
          padding: 8px;
          position: relative;
          left: 15px;
          width: 120px;
          border: none;
          background-color: #4270a9;
          color: white;
          border-radius: 5px;
        }
        .input-btn:hover{
          background-color: white;
          color: black;
        }
      
    